<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Libros</h1>
<label for="">id:</label><input type="text">
<label for="">Tìtulo:</label><input type="text">
<label for="">Autor:</label><input type="text">
<label for="">Editorial:</label><input type="text">
<label for="">Pàginas</label><input type="text">
<label for="">Ediciòn</label><input type="text">
</body>
</html>