<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>
</head>
<body>
<h1>Usuarios</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Edad</th>
            <th>Dirección</th>
            <th>Edición</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastnameP}"></td>
            <td th:text="${user.lastnameM}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.address}"></td>
            <td>
                <a
                    href="#"
                    th:href="@{'/users/edit/' + ${user.id}}">
                    <button>Editar</button>
                </a>
            </td>
            <td>
                <a
                    href="#"
                    th:href="@{'/users/delete/' + ${user.id}}">
                    <button>Eliminar</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br>
<a
    href="#"
    th:href="@{'/users/new'}">
    <button>Agregar</button>
</a>
</body>
</html>